/* Header styles */
.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0px;
}

.header i{
    color: rgb(255, 168, 6);
    font-size: 3em;
}


.header-title {
    font-size: 3em;
    position: relative;
    color: #6a6b6b;
    user-select: none;
}

.header-hashtag {
    color: rgba(128, 128, 128, 0.736);
    margin-top: 8px;
    width: 60px;
    user-select: none;
}

/* Main styles */
.encrypt-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.encrypt-box div {
    text-align: center;
    justify-content: center;
}

.encrypt-box_visibility {
    visibility: hidden;
}

.text-box {
    resize: none;
    text-align: center;
    padding: 10px;
    border: 0;
    outline: none;
}

.button {
    color: #6a6b6b;
    width: 45%;
    font-size: 8px;
    font-weight: bold;
    padding: 8px;
    border: 2px solid #6a6b6b;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: 0;
    box-shadow: 2px 1px #6a6b6b;
}

#copyButton {
    margin-left: 11px;
}

.button:hover {
    transition: 1s all;
    background: linear-gradient(
          45deg,
          #898d8d,
          white,
          rgb(193, 189, 189)
          );
}

.encrypt-image {
    display: flex;
    position: absolute;
    left: 56%;
    height: 172px;
    visibility: visible;
}

.fa-solid {
    margin: 0px 50px;
    margin-bottom: 60px;
    font-size: 40px;
    color: rgb(255, 168, 6);
}

/* Footer styles */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 30px 0px;
    background-image:  linear-gradient(
        45deg,
        #9ba0a0,
        rgb(72, 72, 225),
        #9ba0a0
        );
    color: rgb(255, 255, 255);
    user-select: none;
}

footer a {
    text-decoration: none;
    text-decoration-color: black;
    outline: none;
}

.footer-social {
    color: black;
    font-size: 40px;
    margin-top: 15px;
}

footer a:visited {
    color: black;
}

/* Mobile styles */
@media screen and (max-width: 720px){

    /* Header styles */

    .header {
        justify-content: space-evenly;
    }

    .header p {
        font-size: 10px;
    }
    
    .header i {
        font-size: 20px;
    }

    .header-title {
        font-size: 20px;
    }

    .header-hashtag {
        display: none;
    }

    /* Main styles */
    .encrypt-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .text-box {
        height: 50px;
    }

    .fa-solid {
        font-size: 20px;
        padding-left: 62.5px;
        transform: rotate(90deg);
    }

    .encrypt-image {
        display: none;
    }

    footer {
        font-size: 12px;
    }

    .footer-social {
        font-size: 30px;
    }
}